:root{
    --col1:rgb(38, 62, 97);
    --col2:rgb(44, 146, 172);
    --col3:rgba(10, 58, 70, 0.7);
    --col4:rgb(238, 210, 236);
    --col5:rgb(182, 238, 239);

}

a{
    text-decoration: none;
    color:var(--col5);
}

h1{
    
    color:var(--col2);
    font-family:sans-serif;
    padding-right:55px;
    padding-left:55px;
    font-size:250%;
    width:350px;
    text-align:center;
    


}


.top{
    background-color: var(--col1);
    display:flex;
    justify-content:space-between;
    padding-top:20px;
    padding-bottom:20px;

}

body{
    font-size:25px;
    background-color:var(--col2);
    display:block;

}

.name{
    display:block;
}

.avatar{
    width:350px;
    height:350px;
}

.piet{
    width:1020px;
    height:1020px;
}

.other{
    width:500px;
    height:500px;
}
img{
    object-fit:cover;
    border-radius:10px;
    border:4px solid white;
}


.links{
    
    padding-right:5px;
    padding-left:55px;
    display: flex;
    justify-content: flex-end;
    font-size:100%;

}

.links a{

    color:var(--col2);
    font-family:sans-serif;
    margin: 5px;


}

.section{
    display:flex;
    margin-top:35px;
    color:var(--col1);
    background-color:var(--col2);
    
}

.margin{
    display:flex;
    flex:0 0 20%;
    padding-left:20px;
}
.content{
    padding-left:20px;
    font-size:30px;
}

.card1{
    text-decoration:none;
    position:relative;
    margin:10px;
    width:1020px;
    height:1020px;
   
    
}

.card{
    text-decoration:none;
    position:relative;
    margin:10px;
    width:500px;
    height:500px;
   
    
    
}

.projName{
    position:absolute;
    top:10%;
    left:10%;
    background-color:var(--col3);
    color:var(--col4);
    width:80%;
    border:2px solid white;
    border-radius:5px;
}
#work{
    display:flex;
    flex-wrap:wrap;
}


@media screen and (max-width: 1350px) {
    .top, .links {
      flex-direction: column;
    }
    .card1, .piet{
        width:820px;
        height:820px;

    }
    .card, .other{
        width:400px;
        height:400px;

    }
  
    
}
@media screen and (max-width: 1200px) {
    .top, .links {
      flex-direction: column;
    }
    .card1, .piet{
        width:720px;
        height:720px;

    }
    .card, .other{
        width:350px;
        height:350px;

    }
  
    
}
@media screen and (max-width: 1100px) {
    .top, .links {
      flex-direction: column;
    }
    .card1, .piet, .card, .other{
        width:620px;
        height:620px;

    }
    
  
    
}

@media screen and (max-width: 900px) {
    .top, .links, .section {
      flex-direction: column;
    }
  
    
}
  
@media screen and (max-width: 680px) {
    .top, .links {
      flex-direction: column;
    }
    .card1, .piet, .card, .other{
        width:520px;
        height:520px;

    }
  
    
    .content{
        font-size:30px;
    }
  
    
}

@media screen and (max-width: 580px) {
    .top, .links {
      flex-direction: column;
    }
    .card1, .piet, .card, .other{
        width:420px;
        height:420px;

    }
    
  
    
}

@media screen and (max-width: 480px) {
    
    .card1, .piet, .card, .other{
        width:320px;
        height:320px;

    }
    
    .content{
        font-size:25px;
    }
  
    
}

@media screen and (max-width: 380px) {
    
    .card1, .piet, .card, .other{
        width:220px;
        height:220px;

    }
   
    .content{
        font-size:20px;
    }
  
    
}